html {
  font-size: 1rem;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5rem 3rem;
  margin: 0 auto;
}

.page-layout {
  display: grid;
  row-gap: 2.5rem;
  grid-template-columns: max-content 1fr;
  grid-template-areas: 'h h'
                      'a m';
}
