:root {
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    --body-black: #151515;
    --light-grey: #767676;
    --charcoal-grey: #2D2D2D;
}